body {
	font-family: 'Roboto', sans-serif;
	color: #333;
}

img {
	max-width: 100%;
	height: auto;
}

* {
	box-sizing: border-box;
}

a {
	color: $accent;
}

.generic-content-container {
	p {
	line-height: 1.65;
	margin: 0 0 1.8rem 0;
	font-weight: 300;
	}

	@mixin atSmall {
		p {
			font-size: 1.125rem;
		}
	}

	p a {
		font-weight: 700;
		text-decoration: none;
	}
}