.feature-item {
	position: relative;
	padding-left: 94px;
	padding-bottom: 2.5rem;

	img {
		position: absolute;
		left: 0;
	}

	h3 {
		font-size: 1.875rem;
		font-weight: 300;
		margin-bottom: .8rem;
	}
	
}