.site-header {
	position: absolute;
	z-index: 2;
	width: 100%;
	padding: 10px 0;
	transition: background-color .3s ease-out;

	&__is-expanded {
		background-color: rgba($mainColor, .55);
	}

	@mixin atMedium {
		background-color: rgba($mainColor, 0.4);
	}

	&__btn {
		@mixin atMedium {
			float: right;
		}
	}

	&__logo {
		position: absolute;
		background-color: $mainColor;
		padding: 25px 35px;
		top: 0;
		left: 50%;
		transform: translateX(-50%) scale(.8);
		transform-origin: 50% 0;  /*punkt zaczepienia/uchwyt do skalowania*/

		@mixin atMedium {
			left: auto;
			transform: translateX(0);
		}
	}

	&__graphic {
		text-indent: -9999px;
	}

	&__menu-icon {
		width: 20px;
		height: 20px;
		background-color: #fff;
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 10;

		@mixin atMedium {
			display: none;
		}
	}

	&__menu-content {
		opacity: 0;
		transform: scale(1.2);
		position: relative;
		z-index: -10;
		transition: all .3s ease-out;
		padding-top: 90px;
		text-align: center;

		@mixin atMedium {
			opacity: 1;
			z-index: 1;
			padding-top: 0;
			transform: scale(1);
		}

		&--is-visible {
			opacity: 1;
			z-index: 1;
			transform: scale(1);
		}
	}
}